---
import Meta from "@components/Meta.astro";
import Hero from "@components/Hero.astro";
import Editor from "@components/Editor.astro";
import Icon from "@/components/ui/icons/Icon.astro";
import { SITE } from "@data/constants";
import "@/styles/globals.css";

const { title = SITE.title, meta, structuredData } = Astro.props;

interface Props {
  title?: string;
  meta?: string;
  structuredData?: object;
  lang?: string;
}
---

<html lang="en">
  <head>
    <Meta meta={meta} structuredData={structuredData} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="antialiased">
    <Hero />
    <Editor />
    <button
      id="btnToTop"
      class="fixed sm:hidden scale-0 opacity-0 bottom-7 left-3 transition-all duration-500 border-none outline-none p-3 rounded-full bg-sky-200 text-white"
    >
      <Icon name="arrowUp" />
    </button>

    <script>
      const btnToTop = document.getElementById(
        "btnToTop"
      ) as HTMLButtonElement | null;

      const isMobile: boolean = window.innerWidth < 600;

      if (isMobile && btnToTop) {
        window.onscroll = () => scrollFunction();
      }

      function scrollFunction() {
        if (!btnToTop) return;

        if (
          document.body.scrollTop > 200 ||
          document.documentElement.scrollTop > 200
        ) {
          btnToTop.classList.remove("scale-0", "opacity-0");
          btnToTop.classList.add("scale-100", "opacity-100");

        } else {
          btnToTop.classList.remove("scale-100", "opacity-100");
      btnToTop.classList.add("scale-0", "opacity-0");
        }
      }

      btnToTop?.addEventListener("click", () => topFunction());

      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
  </body>
</html>
