---
import Hero from "../components/common/Hero.astro";
import Dropzone from "../components/ui/Dropzone.astro";
import Editor from "../components/common/Editor.astro";
import '@/styles/globals.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="antialiased">
    <Hero />
    <Editor />
  </body>
</html>
