---
import Meta from "@common/Meta.astro";
import Hero from "@common/Hero.astro";
import ImageCustomizer from "@common/ImageCustomizer.astro";
import Icon from "@ui/icons/Icon.astro";
import { SITE } from "@data/constants";
import "@styles/globals.css";
import "@styles/styles.css";

const { title = SITE.title, meta, structuredData } = Astro.props;

interface Props {
  title?: string;
  meta?: string;
  structuredData?: object;
  lang?: string;
}
---

<html lang="en" class="scrollbar-hide">
  <head>
    <Meta meta={meta} structuredData={structuredData} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="antialiased selection:bg-sky-200 selection:text-slate-600">
    <Hero />
    <ImageCustomizer />
    <button
      id="btnToTop"
      class="fixed lg:hidden scale-0 opacity-0 bottom-3 left-3 transition-all duration-500 border-none outline-none p-3 rounded-full bg-sky-200 text-white"
      aria-label="Back to top"
    >
      <Icon name="arrowUp" />
    </button>
    <script>
      import "@scripts/main";
    </script>
  </body>
</html>
