---
const heading = "Create a Custom LinkedIn-Ready Profile Frame in Seconds";
const subheading =
  "Stand out with personalized profile image frames. Easily add text, colors, and symbols to showcase your skills, support causes, and more – all with our real-time editor.";
---

<div class="relative overflow-hidden">
  <div
    aria-hidden="true"
    class="absolute -top-96 start-1/2 flex -translate-x-1/2 transform"
  >
    <div
      class="h-[44rem] w-[25rem] -translate-x-[10rem] rotate-[-60deg] transform bg-gradient-to-r from-violet-300/50 to-purple-100 blur-3xl"
    >
    </div>
    <div
      class="rounded-fulls h-[50rem] w-[90rem] origin-top-left -translate-x-[15rem] -rotate-12 bg-gradient-to-tl from-blue-50 via-blue-100 to-blue-50 blur-3xl"
    >
    </div>
  </div>

  <div class="relative z-10">
    <div
      class="mx-auto max-w-[85rem] px-4 py-16 sm:px-6 lg:px-8 lg:py-28"
    >
      <div class="mx-auto max-w-4xl text-center">
        <div class="mx-auto mt-5 max-w-4xl">
          <h1
            class="text-balance text-4xl font-bold tracking-tight text-slate-700 lg:text-6xl lg:leading-tight"
          >
            {heading}
          </h1>
        </div>

        <div class="mt-5 sm:mt-10 max-w-4xl">
          <p
            class="text-slate-600 text-pretty text-lg sm:text-xl leading-relaxed"
          >
            {subheading}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
