---
import ImageStack from "./icons/ImageStack.astro";
import Icon from "./icons/Icon.astro";
---

<div
  id="imageUploadContainer"
  class="flex w-full sm:w-3/4 mx-auto lg:w-full aspect-square flex-col justify-center rounded-2xl border border-dashed border-slate-300 bg-white p-12 shadow-lg transition duration-300"
>
  <div id="uploadInterface" class="m-auto text-center cursor-pointer">
    <ImageStack />
    <div
      class="mt-4 flex flex-wrap justify-center text-sm leading-6 text-slate-600"
    >
      <span class="pe-1 text-lg font-medium text-slate-800">
        Drop your file here or
      </span>
      <span
        id="browseButton"
        class="rounded-lg text-lg font-semibold text-sky-600 decoration-2 focus-within:outline-none focus-within:ring-2 focus-within:ring-sky-600 focus-within:ring-offset-2 hover:text-sky-700 hover:underline"
      >
        browse
      </span>
    </div>

    <p class="mt-1 text-sm text-slate-400">
      Pick an image in JPG, PNG, or WEBP format.
    </p>

    <input type="file" id="fileInput" class="hidden" accept="image/*" />
  </div>

  <div
    id="progress"
    class="hidden items-center justify-center font-medium text-slate-800"
  >
    <svg
      class="-ml-1 mr-3 h-5 w-5 animate-spin"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      ></path>
    </svg>
    Processing...
  </div>

  <div id="imagePreview" class="m-auto hidden"></div>
  <div
    id="controls"
    class="mt-6 sm:mt-4 hidden gap-x-5 flex-col gap-y-2 xl:flex-row"
  >
    <button
      id="startOverButton"
      class="group max-w-fit flex items-center gap-x-3 rounded-lg bg-slate-200 px-4 py-2 font-medium text-slate-900 transition duration-300 hover:bg-slate-300"
      >Replace <Icon name="photo" /></button
    >
    <button
      id="resetButton"
      class="group max-w-fit flex items-center gap-3 rounded-lg bg-slate-400 px-4 py-2 font-medium text-slate-50 transition duration-300 hover:bg-slate-500"
      >Reset <Icon name="reset" /></button
    >
    <button
      id="downloadButton"
      class="group max-w-fit xl:ml-auto flex items-center gap-3 rounded-lg bg-sky-500 px-4 py-2 font-medium text-sky-50 transition duration-300 hover:bg-sky-600"
      >Download <Icon name="download" /></button
    >
  </div>
</div>
